<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Account Disabled</title>
</head>
@ViewBag.Title="Your Account is Disabled";
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Account Disabled</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<p>Your account has been disabled.</p>
<p>This could have occured for several reasons please email an administrator if you have further questions.</p>