
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Account Disabled</title>
</head>

<h2>Account Disabled</h2>

<p>Your account has been disabled.</p>

<p>This could have occured for several reasons please email an administrator if you
    have further questions.</p>