@{
    ViewBag.Title = "About Us";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>About Us</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Conent/animate.min.css" rel="stylesheet">
    <link href="~/Conetnt/lightbox.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/Content/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
    <header id="header">

        <div class="navbar navbar-inverse" role="banner" />
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="@Url.Action("Index", "Modules")">
                    <h1><img src="http://perceptuallearning.azurewebsites.net/Content/images/logo.png" alt="logo"></h1>
                </a>

            </div>
        </div>
    </header>
    <!--/#header-->

    <section id="page-breadcrumb">
        <div class="vertical-center sun">
            <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">About Us</h1>
                            @*<p>Why our Clients love to work with us.</p>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#page-breadcrumb-->

    <section id="company-information" class="padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="http://perceptuallearning.azurewebsites.net/Content/images/aboutus/teamPhoto.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6">
                    <h1>Mark DeLonge</h1>
                    <p>Instructional Technology Coordinator at Northwestern Michigan College.  He works closely with faculty to develop courses and solutions to their tech needs.  He is sometimes forced to work with Tom.  Mark earned his BA in Education and his MA in Educational Technology from Michigan State University.  He worked as an elementary school teacher for 7 years and during the summer, can be found driving one of his two VWs (if they are running).</p>
                    <br />
                    <h1>Tom Gordon</h1>
                    <p>History instructor at Northwestern Michigan College. Tom teaches Western Civilization and  American History. He does his part to keep Mark employed by occasionally throwing a project his direction and hoping it turns out alright. Tom earned his BA in history and philosophy at California Polytechnic State University and his MA in history at Fort Hays State University in Kansas. He has worked at NMC since 1997. In his off time, Tom is fishing, reading, and napping.</p>
                    <br />
                    @*<h1>John Velis</h1>
                    <p></p>
                    <br />*@
                    <h1>Development Team</h1>
                    <p>Shane Workman, Zach Vig, Ben Proudfoot, Brian Buchan, Alex Olsen, Jacqueline Radtke!<br />
                    CIT 275 Spring 2016 Capstone class.</p>
                </div>
            </div>
        </div>
    </section>

    @*<section id="team">
        <div class="container">
            <div class="row">
                <h1 class="title text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">Meet the Dev Team</h1>
                <p class="text-center wow fadeInDown" data-wow-duration="400ms" data-wow-delay="400ms">
                    Final year students at NorthWestern Michigan College
                </p>
                <div id="team-carousel" class="carousel slide wow fadeIn" data-ride="carousel" data-wow-duration="400ms" data-wow-delay="400ms">
                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-xs">
                        <li data-target="#team-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#team-carousel" data-slide-to="1"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="~/Content/images/aboutus/1.jpg" class="img-responsive" alt="">
                                        </div>
                                    </div>
                                    <div class="person-info">
                                        <h2>Brian Buccan</h2>
                                        <p>Developer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="~/Content/images/aboutus/2.jpg" class="img-responsive" alt="">
                                        </div>
                                    </div>
                                    <div class="person-info">
                                        <h2>Ben Proudfoot</h2>
                                        <p>Developer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="~/Content/images/aboutus/3.jpg" class="img-responsive" alt="">
                                        </div>
                                    </div>
                                    <div class="person-info">
                                        <h2>Alex </h2>
                                        <p>Developer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="~/Content/images/aboutus/1.jpg" class="img-responsive" alt="">
                                        </div>
                                    </div>
                                    <div class="person-info">
                                        <h2>Zack</h2>
                                        <p>Developer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="~/Content/images/aboutus/4.jpg" class="img-responsive" alt="">
                                        </div>
                                    </div>
                                    <div class="person-info">
                                        <h2>Shane</h2>
                                        <p>Developer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="~/Content/images/aboutus/3.jpg" class="img-responsive" alt="">
                                        </div>
                                    </div>
                                    <div class="person-info">
                                        <h2>Jacqueline Radtke</h2>
                                        <p>Developer</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left team-carousel-control hidden-xs" href="#team-carousel" data-slide="prev">left</a>
                    <a class="right team-carousel-control hidden-xs" href="#team-carousel" data-slide="next">right</a>
                </div>
            </div>
        </div>
    </section>
    <!--/#team-->*@

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <img src="~/Content/images/home/under.png" class="img-responsive inline" alt="">
                </div>
                <div class="col-md-offset-4 col-md-3 col-sm-6">
                    <div class="contact-info bottom">
                        <h2>Contacts</h2>
                        <address>
                            E-mail: <a href="mailto:someone@example.com">email@email.com</a> <br>
                            Phone: +1 (123) 456 7890 <br>
                            Fax: +1 (123) 456 7891 <br>
                        </address>
                        <h2>Address</h2>
                        <address>
                            NorthWestern Michigan College, <br>
                            117 East Front Street, <br>
                            Traverse City, MI 49686<br>
                            United States <br>
                        </address>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="contact-form bottom">
                        <h2>Send a message</h2>
                        <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" required="required" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" required="required" placeholder="Email Id">
                            </div>
                            <div class="form-group">
                                <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your text here"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-submit" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; NMC 2014. All Rights Reserved.</p>
                        <p>Designed by <a target="_blank" href="http://www.themeum.com">Themeum</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->


    <script type="text/javascript" src="~/Scripts/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="~/Scripts/gmaps.js"></script>
    <script type="text/javascript" src="~/Scripts/wow.min.js"></script>
    <script type="text/javascript" src="~/Scripts/main.js"></script>
</body>