@{
    ViewBag.Title = "Contact Us";
}
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
            <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Contact Us</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="map-section">
        <div class="container">
            <div id="gmap"></div>
            <div class="contact-info">
                <h2>Contacts</h2>
                <address>
                    E-mail: <a href="mailto:Buchan28@mail.nmc.edu">Buchan28@mail.nmc.edu</a> <br>
                    Phone: +1 (231) 935 1070 
                </address>
                <h2>Address</h2>
                <address>
                    NorthWestern Michigan College, <br>
                    117 East Front Street, <br>
                    Traverse City, MI 49686<br>
                    United States <br>
                </address>
            </div>
        </div>
    </section> 
    <script type="text/javascript" src="~/Scripts/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="~/Scripts/gmaps.js"></script>
    <script type="text/javascript" src="~/Scripts/wow.min.js"></script>
    <script type="text/javascript" src="~/Scripts/main.js"></script>