
@{
    ViewBag.Title = "Free Use Images";
}

<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">@ViewBag.Title</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ul>
    <li class="items-list"><a href="https://stock.adobe.com">stock.adobe.com</a></li>
    <li class="items-list"><a href="https://pixabay.com/">=pixabay.com/</a></li>
    <li class="items-list"><a href="http://www.publicdomainpictures.net/">www.publicdomainpictures.net</a></li>
    <li class="items-list"><a href=""></a></li>
    <li class="items-list"><a href=""></a></li>
    <li class="items-list"><a href=""></a></li>
    <li class="items-list"><a href=""></a></li>
    <li class="items-list"><a href=""></a></li>
    <li class="items-list"><a href=""></a></li>
</ul>