
@{
    ViewBag.Title = "Free Use Images";
}

<h2>Sources for free use images.</h2>

<ul>
    <li class="items-list"><a href="https://stock.adobe.com">stock.adobe.com</a></li>
    <li class="items-list"><a href="https://pixabay.com/">=pixabay.com/</a></li>
    <li class="items-list"><a href="http://www.publicdomainpictures.net/">www.publicdomainpictures.net</a></li>
    <li class="items-list"><a href=""></a></li>
    <li class="items-list"><a href=""></a></li>
    <li class="items-list"><a href=""></a></li>
    <li class="items-list"><a href=""></a></li>
    <li class="items-list"><a href=""></a></li>
    <li class="items-list"><a href=""></a></li>
</ul>