@{
    ViewBag.Title = "Home Page";
}
    <section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slide-text">
                        <h1>Perceptual Learning Method</h1>
                        <h2>-Create and experience intuitive learning-</h2>
                    </div>
                    <img onerror="this.src='Content/images/Error.bmp';" src="~/Content/images/home/ThinkGraphicColor.jpg" height="500" width="500" class="img-responsive floatRight" alt="slider image">
                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <a href="@Url.Action("Index", "Modules")">
                        <div class="single-service">
                            <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                                <img onerror="this.src='Content/images/Error.bmp';" src="~/Content/images/home/learn.png" alt="Click here to start playing.">
                            </div>
                            <h2>Learn</h2>
                            <p>Experience the power of perceptual learning with modules taliored to your category of intrest.</p>
                        </div>
                       </a>
            </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <a href="@Url.Action("Create", "ModulesEdit")">
                        <div class="single-service">
                            <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                                <img onerror="this.src='Content/images/Error.bmp';" src="~/Content/images/home/create.png" alt=" Click here to create a module.">
                            </div>
                            <h2>Create</h2>
                            <p>As an instructor, gain the productivity and take control of the resource we've created to setup your own modules of category of your choice.</p>
                        </div>
                    </a>
            </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <a href="@Url.Action("Register", "Account")">
                        <div class="single-service">
                            <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                                <img onerror="this.src='Content/images/Error.bmp';" src="~/Content/images/home/join.png" alt="Click here to register.">
                            </div>
                            <h2>Join</h2>
                            <p>Register for an account in less than a minute and get strated learing without thinking right away!</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="single-features">
                    <div class="col-sm-12 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h1>Philosophy</h1>
                        <p>Perceptual Learning is  <em>NOT</em>  flashcards.  It is much  <em>BIGGER</em>  than that. If you want to create a learning tool to learn definitions and recall facts, this is <em>NOT</em> it. If you want to create a kill and drill exercise for students to study for a test, this is  <em>NOT</em>  it.</p>
                        <p>This  <em>IS</em> … <br />A tool that allows instructors and teachers to create rich learning experiences for their students. It  <em>IS</em>  a location for students to learn new concepts and gain <em>NEW</em> knowledge. This IS the opportunity to  <em>SHOW</em>  students what a concept or idea or thing is without explaining it.</p>
                        <p>Inspired by the book, How We Learn by Benedict Carey</p>
                        <p>Backed by research and trials in Tom’s courses.</p>
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>How it Works</h2>
                        <p>The goal of a PLM is to introduce and reinforce a concept or idea or meaning without detailed explanation -or “any” explanation for that matter.  The goal is to SHOW students a concept, idea or meaning and allow them to  <em>experience</em>  and see what  <em>IT</em>  is.</p>
                        <p>Each item in a PLM is a concept, idea or meaning illustrated by AT LEAST 5 images.  See an example</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="~/Scripts/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lightbox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/wow.min.js"></script>
    <script type="text/javascript" src="~/Scripts/main.js"></script>
