@{
    ViewBag.Title = "Complete";
}

<h2>Complete</h2>
<div>
    @{
        foreach (var score in TopTenScore.GetTopTenScores(ViewBag.ModuleID))
        {
            // TODO - Update username and scores
            <p>@score.User.FirstName</p>
            <p>@score.CorrectAnswers</p>
        }
    }
    <p>YOUR SCORE:</p>
    <p>@Model</p>

</div>

