@model PLM.Module

@{
    ViewBag.Title = "Create Module";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Add Module</title>
</head>

<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Add Module</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br />
<br />
<br />

<form name="contact-form" method="post" action="/Modules/AddModule">

    <label for="ModuleTitle">Title</label>
    <div class="form-group">
        <input type="text" id="ModuleTitle" name="name" class="form-control" required="required" placeholder="Module Name">
    </div>

    <br /><br />

    <label for="ModuleImages">Images</label>
    <div class="form-group, scroll-box">
        <img onerror="this.src='Content/images/Error.bmp';" src="~/Content/Images/portfolio/11.jpg" alt="Image1" />
        <img onerror="this.src='Content/images/Error.bmp';" src="~/Content/Images/portfolio/10.jpg" alt="Image2" />
        <img onerror="this.src='Content/images/Error.bmp';" src="~/Content/Images/portfolio/12.jpg" alt="Image1" />
        <img onerror="this.src='Content/images/Error.bmp';" src="~/Content/Images/portfolio/13.jpg" alt="Image2" />
        <img onerror="this.src='Content/images/Error.bmp';" src="~/Content/Images/portfolio/14.jpg" alt="Image1" />
        <img onerror="this.src='Content/images/Error.bmp';" src="~/Content/Images/portfolio/15.jpg" alt="Image2" />
    </div>

    <br /><br />

    <div class="form-group">
        <input type="submit" name="operation" class="btn btn-success" value="Add" />
        <input type="submit" name="operation" class="btn btn-success" value="Edit" />
        <br /><br />
        <input type="submit" name="operation" class="btn btn-success" value="Remove" />
        <input type="submit" name="operation" class="btn btn-success" value="Save" />
        <input type="submit" name="submit" class="btn btn-submit floatRight" value="Submit">
    </div>
</form>

