<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://perceptuallearningbeta.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>perceptuallearningbeta.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PerceptualLearningBeta</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PerceptualLearningBeta</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Development" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:perceptuallearningbeta.database.windows.net,1433;Initial Catalog=PerceptualLearningBeta;User ID=plmadmin@perceptuallearningbeta.database.windows.net;Password=Password1" Name="Data Source=tcp:perceptuallearningbeta.database.windows.net,1433;Initial Catalog=PerceptualLearningBeta;User Id=plmadmin@perceptuallearningbeta.database.windows.net;Password=Password1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PLM.ApplicationDbContext, PLM" MigrationConfiguration="PLM.Migrations.Configuration, PLM" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:perceptuallearningbeta.database.windows.net,1433;Initial Catalog=PerceptualLearningBeta;User ID=plmadmin@perceptuallearningbeta.database.windows.net;Password=Password1" Name="Data Source=tcp:perceptuallearningbeta.database.windows.net,1433;Initial Catalog=PerceptualLearningBeta;User Id=plmadmin@perceptuallearningbeta.database.windows.net;Password=Password1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;Initial Catalog=PLM-2-1-alpha1;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=PLM-2-1-alpha1;Integrated Security=SSPI;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Production" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:perceptuallearningbeta.database.windows.net,1433;Initial Catalog=PerceptualLearningBeta;User ID=plmadmin@perceptuallearningbeta.database.windows.net;Password=Password1" Name="Data Source=tcp:perceptuallearningbeta.database.windows.net,1433;Initial Catalog=PerceptualLearningBeta;User Id=plmadmin@perceptuallearningbeta.database.windows.net;Password=Password1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=PLM-MGT;Initial Catalog=PerceptualLearning;User ID=PLMAdmin;Password=Password1;Connect Timeout=60" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Production_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=PLM-MGT;Initial Catalog=PerceptualLearning;User ID=PLMAdmin;Password=Password1;Connect Timeout=60;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>data source=tcp:perceptuallearningbeta.database.windows.net,1433;initial catalog=PerceptualLearningBeta;user id=plmadmin@perceptuallearningbeta.database.windows.net;password=Password1;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Development-Web.config Connection String">
      <ParameterValue>Data Source=tcp:perceptuallearningbeta.database.windows.net,1433;Initial Catalog=PerceptualLearningBeta;User Id=plmadmin@perceptuallearningbeta.database.windows.net;Password=Password1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Production-Web.config Connection String">
      <ParameterValue>data source=tcp:perceptuallearningbeta.database.windows.net,1433;initial catalog=PerceptualLearningBeta;user id=plmadmin@perceptuallearningbeta.database.windows.net;password=Password1;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>