@model IEnumerable<PLM.Picture>
@{
    ViewBag.Title = "Picture Administration";
}
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">@ViewBag.Title</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="col-md-9">
    @foreach (Picture picture in Model)
    {
        <div class="row">
            <div class="col-sm-6 portfolio-item branded logos">
                <div class="portfolio-wrapper">
                    <div class="portfolio-single">
                        <div class="portfolio-thumb">
                            <img onerror="this.src='Content/images/Error.bmp';" src="@picture.Location">
                            @Html.ActionLink("Convert To StringData", "edit", new { controller = "Answers", id = Model.AnswerID })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


