@model PLM.Picture
@{
    ViewBag.Title = "Upload Error";
}
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">@ViewBag.Title</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
There was an error uploading the image to the database. If this error continues, please contact the administrator.
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        @Html.ActionLink("Back to List", "edit", new { controller = "Answers", id = ViewBag.AnswerID });
    </div>
}