@model PLM.Models.ConfirmViewModel

@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm</h2>
<div class="col-xs-6 col-sm-6 col-md-4 portfolio-item branded logos">
    <div class="portfolio-wrapper defaultHeight">
        <div class="portfolio-single">
            <div class="portfolio-thumb img-hover">
                <figure>
                    <img src="@Model.originalUrl" alt="Original Image" />
                    <figcaption>Original Image</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-6 col-sm-6 col-md-4 portfolio-item branded logos">
    <div class="portfolio-wrapper defaultHeight">
        <div class="portfolio-single">
            <div class="portfolio-thumb img-hover">
                <figure>
                    <img src="@Model.Base64ImgData" alt="New Image" />
                    <figcaption>New Image</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>

<p>Are these changes OK? You won't be able to undo these changes any further.</p>
<button name="Save" id="Save">Save</button>
<button name="Save" id="Save">Discard</button>

