
@{
    ViewBag.Title = "Image Editor";
}

<h2>Image Editor</h2>

<img onerror="this.src='Content/images/Error.bmp';" id="imgEdit" src="~/Content/Images/logo.png" title="~/Content/Images/logo.png" alt="Photo To Edit" />

<script data-preload="true" data-path="@Url.Content("~\\pixie-image-editor\\pixie")" 
        src="@Url.Content("~/pixie-image-editor/pixie/pixie-integrate.js")"></script>

<button id="save" name="save" onclick="saveAll()">Save Changes</button>
<button id="discard" name="discard" onclick="discardChanges()">Discard Changes</button>

<script>
    function saveAll() {
        $.ajax({
            type: "POST",
            url: '/ImageEditor/Save',
            data: { willSave: "True" },
            success: function (response) {
                alert('Images saved successfully!');
            },
            error: function (xhr, status, text) {
                alert(text);
            }
        });
    }

    function discardChanges() {
        $.ajax({
            type: "POST",
            url: '/ImageEditor/Save',
            data: { willSave: "False" },
            success: function (response) {
                alert('Changes Discarded');
            },
            error: function (xhr, status, text) {
                alert(text);
            }
        });
    }

    var myPixie = Pixie.setOptions({
        replaceOriginal: true,
        appendTo: 'body',
        onSave: function (data, img) {
            $.ajax({
                type: 'POST',
                url: '/ImageEditor/Confirm',
                data: { imgData: data, imgId: img.id, origUrl: img.title },
                success: function (response) {
                    alert('Image changes have been saved successfully. \nRemember to ' +
                    'click the save button to finalize your changes.');
                },
                error: function (xhr, status, text) {
                    alert(text);
                    myPixie.close();
                }
            });
        }
    });

    $('#imgEdit').on('click', function (e) {
        myPixie.open({
            url: e.target.src,
            image: e.target
        });
    });
</script>