@{
    ViewBag.Title = "Image Editor";
}
<h2>Image Editor</h2>
<img onerror="this.src='Content/images/Error.bmp';" data-orig-source="~/Content/Images/logo.png" id="3" src="~/Content/Images/logo.png" title="1" alt="Photo To Edit" />
<script data-path="@Url.Content("~\\pixie-image-editor\\pixie")" 
        src="@Url.Content("~/pixie-image-editor/pixie/pixie-integrate.js")"></script>
@using (Html.BeginForm("Confirm", "ImageEditor", FormMethod.Post)){
    @Html.AntiForgeryToken()
    <input type="text" name="imageId" id="imageId" hidden="hidden" required="required" value="" />
    <input type="text" name="answerId" id="answerId" hidden="hidden" required="required" value="" />
    <input type="text" name="newImgData" id="newImgData" hidden="hidden" required="required" value="" />
    <input type="text" name="originalImgData" id="originalImgData" hidden="hidden" required="required" value="" />
    <input type="submit" value="Save"/>
}
<script type="text/javascript" src="@Url.Content("~/Scripts/ImageEditorTestBed.js")"></script>