body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.moduleImage {
    max-height: 200px;
    width: auto;
}

.floatLeft{
    float:left;
}

.floatRight{
    float:right;
}

article{
    float:right;
    margin-right:60%;
}

.scroll-box{
    overflow: scroll;
    scrollbar-face-color:#00aeef;
}

.gameButton{
    margin: 1.5%;
    width: 30%;
    overflow: hidden;
}

#answerButtons{
    padding-bottom:10px;
}

#navImg{
    height:40px;
    padding-top:0px;
    visibility:visible;
}

.maxWidth{
    width:100%;
    padding:0px 0px;
}
.span{
    background-image: url("~/Content/images/home/under.png");
    background-size:100%;
}

input[type='range']::-webkit-slider-thumb {
	 -moz-appearance: none;
	 border-radius: 20px;
	 background-color: #FFF;
	 box-shadow:
		inset 0 0 16px #B2B200,
		inset 16px 0 20px #FFFF33;
	 border: 2px solid #292908;
	 height: 20px;
	 width: 20px;
}