body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.moduleImage {
    width: auto;
    height: 200px;
}

.floatLeft {
    float: left;
    width: 33%;
}

.floatRight {
    float: right;
    width: 33%;
}

.halfPanel {
    width: 50%;
    float: left;
}

.clearLeft {
    clear: left;
}

.clearRight {
    clear: right;
}

.accordianHeading {
    color: #0099AE;
}

.defaultHeight {
    height: 250px;
}

.img-hover:hover {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

article {
    float: right;
    margin-right: 60%;
}

.scroll-box {
    overflow: scroll;
    height: 60%;
    scrollbar-face-color: #00aeef;
}

#navImg {
    height: 40px;
    padding-top: 0px;
    visibility: visible;
}

.maxWidth {
    width: 100%;
    padding: 0px 0px;
}

.span {
    background-image: url("~/Content/images/home/under.png");
    background-size: 100%;
}

a[type="button"] {
    width: 100%;
    font-family: Arial;
    background-color: #4fcccd;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    border-radius: 3px;
    margin-top: 5px;
    border-bottom: 3px solid #2f9697;
    box-shadow: none;
    padding: 10px;
}

    a[type="button"] :hover,
    a[type="button"] :focus {
        color: #fff;
        outline: none;
        box-shadow: none;
        opacity: .8;
    }

a[type="button-enter"] {
    width: 100%;
    font-family: Arial;
    background-color: #5cb85c;
    color: #fff;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 5px;
    border-radius: 3px;
    margin-top: 5px;
    box-shadow: none;
    padding: 10px;
}

    a[type="button-enter"] :hover,
    a[type="button-enter"] :focus {
        color: #fff;
        outline: none;
        box-shadow: none;
        opacity: .8;
    }

a[type="button-submit-sm"] {
    width: 100%;
    font-family: Arial;
    background-color: #4fcccd;
    color: #fff;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 5px;
    border-radius: 3px;
    margin-top: 5px;
    box-shadow: none;
    padding: 10px;
}

    a[type="button-submit-sm"] :hover,
    a[type="button-submit-sm"] :focus {
        color: #fff;
        outline: none;
        box-shadow: none;
        opacity: .8;
    }

.button-submit-sm {
    width: 100%;
    font-family: Arial;
    background-color: #4fcccd;
    color: #fff;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 5px;
    border-radius: 3px;
    margin-top: 5px;
    box-shadow: none;
    padding: 10px;
}

    .button-submit-sm :hover,
    .button-submit-sm :focus {
        color: #fff;
        outline: none;
        box-shadow: none;
        opacity: .8;
    }

.button-approve {
    width: 100%;
    font-family: Arial;
    background-color: #5cb85c;
    color: #fff;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 5px;
    border-radius: 3px;
    margin-top: 5px;
    box-shadow: none;
    padding: 10px;
}

    .button-approve :hover,
    .button-approve :focus {
        color: #fff;
        outline: none;
        box-shadow: none;
        opacity: .8;
    }

.button-denyAccount {
    background-color: #c12e2a;
    width: 100%;
    font-family: Arial;
    color: #fff;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 5px;
    border-radius: 3px;
    margin-top: 5px;
    box-shadow: none;
    padding: 10px;
}

    .button-denyAccount :hover,
    .button-denyAccount :focus {
        color: #fff;
        outline: none;
        box-shadow: none;
        opacity: .8;
    }

.button-enter {
    width: 15%;
    font-family: Arial;
    background-color: #5cb85c;
    color: #fff;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 5px;
    border-radius: 3px;
    margin-top: 5px;
    box-shadow: none;
    padding: 10px;
}

    .button-enter :hover,
    .button-enter :focus {
        color: #fff;
        outline: none;
        box-shadow: none;
        opacity: .8;
    }

a[type="button-warning"] {
    width: 100%;
    font-family: Arial;
    background-color: red;
    color: #fff;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 5px;
    border-radius: 3px;
    margin-top: 5px;
    box-shadow: none;
    padding: 10px;
}

    a[type="button-warning"] :hover,
    a[type="button-enter"] :focus {
        color: #fff;
        outline: none;
        box-shadow: none;
        opacity: .8;
    }

input[type='range']::-webkit-slider-thumb {
    -moz-appearance: none;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: inset 0 0 16px #B2B200, inset 16px 0 20px #FFFF33;
    border: 2px solid #292908;
    height: 20px;
    width: 20px;
}

.helper {
    display: inline-block;
    height: 480px;
    vertical-align: middle;
    width: 100%;
}

.offset {
    margin-left: 30%;
}

.descriptionBox {
    width: 400px;
    height: 100px;
    overflow: hidden;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.disabled {
    background-color: red;
}

.Top10ScoreBoard {
    background-color: #adc9db;
    border: 2px solid black;
    min-width: 350px;
}

.Top10ScoreItem {
    overflow: hidden;
    margin: 5px;
}

.Top10Score {
    margin: 1.5%;
    float: left;
    width: 30%;
}

#ScoreBoard {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border: 2px solid black;
    font-size: 20px;
}

.scoreDiv {
    display: flex;
}

.SBrow {
    display: flex;
    margin: 5px 10px;
    min-height: 30px;
    vertical-align: middle;
}

.SBitem {
    height: initial;
    margin: 0px 15px;
}

    .SBitem p {
        margin: 0px;
    }

#soundToggle {
    margin-left: auto;
    max-height: 50px;
    width: auto;
}

.btn-wrapper {
    margin-left: auto;
}

.picture {
    max-height: 500px;
    background-color: gray;
    display: flex;
    justify-content: space-around;
}

#gameBoard {
    padding: 10px;
}

#answerButtons {
    background-color: lightgray;
    border: 3px solid black;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.NoMargin {
    margin: 0px;
}

.NoPadding {
    padding: 0px;
}

.clearBoth {
    clear: both;
}

.flex {
    display: flex;
}

.hideOverflow {
    overflow: hidden;
}

.scoreItem {
    background-color: white;
    border: solid black 1px;
    padding: 5px;
    height: auto;
    width: auto;
}

.nextButton {
    display: none;
}

.btn-guess {
    display: inline-block;
    width: 31.33%;
    margin: 1%;
}


@media (max-width: 768px) {
    .btn-guess {
        width: 48%;
    }
}

@media (max-width: 400px) {
    .btn-guess {
        display: block;
        width: 98%;
    }
}